<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.svg')}} " type="image/x-icon">
    <title>Classroom</title>
    <style>
        #aside {
        transition: margin-left 0.5s;
        }
    </style>
</head>
<body>

    <body>
        <header class="fixed w-screen top-0 ">
            <nav class="w-full h-auto px-4 overflow-hidden flex justify-between bg-slate-500 shadow-slate-900 shadow-lg">
                <div class="flex justify-between text-center text-white font-bold items-center">
                    <button onclick="toggleAside()" class=" text-white p-2 rounded"><img src="{{url_for('static', filename='img/menu-2.svg')}}" width="35" alt=""></button>
                    <a href="" class="" name="logo"><img src="{{url_for('static', filename='img/logo.svg')}}" width="40" alt=""></a>
                    <label for="logo" class="text-lg p-1 hover:cursor-pointer hover:underline hover:text-green-400">Classroom</label>
                </div>

                <div class="flex text-white font-bold mx-4 p-4 text-center items-center">
                    <form action="/logout" method="post">
                        <input type="submit" value="Cerrar sesion" class="mx-4 p-1.5 rounded-lg  bg-slate-400 hover:bg-slate-200 hover:text-black hover:shadow-slate-900 hover:shadow-lg hover:transition hover:duration-300 ">
                    </form>           
                </div>
            </nav>
        </header>
        <div class="min-h-screen flex flex-col sm:flex-row">
            <aside id="aside" class="bg-gray-800 text-white mt-16 p-4 w-64">
                <h2 class="text-xl font-semibold">Grados Asignados</h2>
                <ul>
                    <form action="">    
                        <li><a href="/septimo">Septimo</a></li>
                        <li><a href="/octavo">Octavo</a></li>
                        <li><a href="/noveno">Noveno</a></li>
                        <li><a href="/maestro">Todo</a></li>
                    </form>
                </ul>
            </aside>
            <main class="flex-grow p-4 mt-10">
                <div class="container mx-auto py-8 ">
                    <div class="sm:grid-cols-2 lg:grid-cols-3 gap-4">
                        <div class=" flex  items-center justify-between mb-4 ">
                            <div class="">
                                <input type="search" name="" id="" class="p-1 outline-none border-gray-600 border-2 rounded-xl w-full   focus:border-gray-300 focus:transition focus:duration-500 focus:shadow-lg focus:shadow-slate-800 font-bold">
                            </div>
                            <div class="flex">
                                <a href="/add"><img src="{{url_for('static', filename='img/add.svg')}}" alt="" class='min-w-8 '></a>
                                <a href="/edit"><img src="{{url_for('static', filename='img/edit.svg')}}" alt="" class='min-w-8'></a>
                                <a href="/delete"><img src="{{url_for('static', filename='img/delete.svg')}}" alt=""class='min-w-8'></a>
                            </div>
                        </div>
                        <div class="flex justify-end items-end border-2 border-gray-600 transition delay-500">
                            <table class="border-collapse">
                                <thead class="bg-gray-600">
                                    <tr>
                                        <th class="p-2 uppercase">Nombre dela Actividad</th>
                                        <th class="p-2 uppercase">Descripcion</th>
                                        <th class="p-2 uppercase">Grado Asignado</th>
                                        <th class="p-2 uppercase">Archivos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for trabajo in trabajos%}
                                        <tr class="text-center">
                                            <td class="p-4 border-b-2 border-b-slate-400">{{trabajo.1}}</td>
                                            <td class="p-4 border-b-2 border-b-slate-400">{{trabajo.2}}</td>
                                            <td class="p-4 border-b-2 border-b-slate-400">{{trabajo.3}}</td>
                                            <td class="p-4 border-b-2 border-b-slate-400">{{trabajo.4}}</td>
                                        </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script>
            function toggleAside() {
                var aside = document.getElementById('aside');
                var currentMargin = parseInt(window.getComputedStyle(aside).marginLeft);
                if (currentMargin === 0) {
                    aside.style.marginLeft = '-264px'; // Width of the aside
                } else {
                    aside.style.marginLeft = '0';
                }
            }
        </script>
    </body>
    </html>
</body>
</html>